/* you can add to or change this. */
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./assets/body.png");
  width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  font-family: 'Train One', cursive;
  justify-content: center;
}

h1 {
  font-family: 'Train One', cursive;
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 2 auto;
}

h2 {
  margin: 10% auto;
}

h3 {
  margin: 10% auto;
}


#header {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  margin: 2 auto;
}

#title {
  font-family: 'Train One', cursive;
  color: black;
}

.card-container {
  background-color: none;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50px;
  box-shadow: 
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}
#app-wrap {
  display: flex;
  justify-content: center;
}
#winner {
  margin: 20 auto;
  z-index: 20;
  width: 60vw;
  background: rgba( 255, 255, 255, 0.9 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.0px );
-webkit-backdrop-filter: blur( 9.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
display: none;
padding: 10%;
position: fixed;
left: 20vw;
right: 20vw;
top: 10vh;
bottom: 10vh;
justify-content: center;

}

#win-form {
  text-align: center;
}

#app-wrap {
  height: 85%;
  margin: 5% auto;
  justify-content: center;
}
#game {
  vertical-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
}
.red {
  background-image: url("./assets/red.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.orange {
  background-image: url("./assets/orange.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.green {
  background-image: url("./assets/green.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.blue {
  background-image: url("./assets/blue.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.purple {
  background-image: url("./assets/purple.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.flip-card-back {
  transform: rotateY(180deg)
}

.card-container {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  min-width: 200px;
  margin: 2.5% auto;
  min-height: 200px;
  perspective: 1000px;
  padding: 10px;
  flex-grow: 2;
      }
  
.card-elements {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
  
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
  
.card-back {
  background-image: url("./assets/back.png");
  background-size: 100%;
  background-repeat: no-repeat;
   }

   .card-front {
          transform: rotateY(180deg)
      }
    